.footerLinks a:not(:last-child) {
    border-right: 1px solid #fff;
    margin-right: 10px;
    padding-right: 10px;
}

footer {
    position: fixed;
    bottom: 0;
    z-index: 9 !important;
}

div#content {
    margin-bottom: 200px !important;
}